body {
    margin: 0;
  }
  
  canvas {
    float: left;
    margin-right: 10px;
  }
  
  #ui {
    width: 300px;
    margin-top: 1%;
    float: left;
  }
  
  .slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00f;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #00f;
    cursor: pointer;
  }
  